#joinuscontent{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.6;
    font-size: 18px;
    color: rgb(110, 110, 110);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.elementor-text{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.6;
    font-size: 18px;
}