<div>
    <div id="contactus-header">
        <p id="contactp" style="text-align: 100;">Contact Us</p>
    </div>
    <div id="address">
        <!-- <h1 id="addressp">BANGLORE</h1> -->
        <p style="text-align: center;"> 16th, No. 75, 2nd Floor, 9th Cross, Main,<br>
            Tavarekere Main Rd, BTM 1st Stage,<br>
            Bengaluru, Karnataka 560027<br></p>
        <p style="text-align: center;">Phone:+91-80-4212-8000</p>
        <p style="text-align: center;"><a href="hr@dextris.in">hr@dextris.in</a></p>
    </div>
</div>
<div class="ikkadeleft">
    <div id="map">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.8075191463768!2d77.61048079999999!3d12.9200894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1456f640c45f%3A0x3071a1ccef6ac95!2sDEXTRIS%20Infoservices%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1677499495797!5m2!1sen!2sin"
                width="1400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>