<div class="banner2">
    <img src="../../../assets/images/life.jpg" style="width: 1470px; height: 500px;">
    </div>

    <div class="hello2">
      <h1 style="margin-left: 150px;font-size: 40px;margin-top: -70px; "> <b> Lifesciences</b></h1>
      <h2 style="margin-left: 150px;font-size: 25px;font-family:Times New Roman,serif;">Technology enabled solutions for
         faster drug discovery,
      lower R&D costs, diverse trials, adaptive manufacturing, transparent supply chain, and governed regulatory needs</h2>
          <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 150px;">The world of 
            Life Science is witnessing major operational shifts. Traditional competitors are partnering on research, 
            testing, and manufacturing new molecules, medical devices, and digital therapeutics. The collaboration is
            improving time to market for new treatments and recovery time from disease states, yet also improving
             accurate and earlier diagnoses. 

            The trend of collaboration could be an early signal for healthcare to become more affordable and 
            accessible while also accelerating personalized medicine and a patient centered treatment journey.
            <b>DEXTRIS</b> has been a part of these changes across the industry, creating digital technology enabled
              solutions for faster drug discovery, lower R&D costs, more diverse trials, adaptive manufacturing, transparent
               supply chain, and governed regulatory needs.</p>
               <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 150px;">We believe
                 that sharing data is the next major industry trend and organizations prepared with
                 multi-cloud and interoperable solutions will emerge as leaders. DEXTRIS Life Sciences expertise,
                  coupled with digital, data, automation, engineering, and manufacturing & supply chain solutions,
                   is helping life science organizations address new opportunities in a rapidly evolving industry of 
                   collaboration. <br>
                   <b>DEXTRIS</b> is focused on the Life Science industry with a passion for connecting the value chain
                    and bringing the best care to our society. We are addressing the challenges of the  past to explore
                     a limitless future, from medical innovations to reimagining human health. By connecting and securing
                      healthcare ecosystems, we provide our Life Sciences clients  the ability to lead us into the future of
                       a healthier world. From possibilities, to opportunities, to technology, let DEXTRIS welcome you
                        to a future of limitless.</p>
                      

        </div>
