/* .banner{
    background-image: url(../../../assets/images/bfsi.jpg);
} */
.desc1{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(231, 231, 234);
}
.section1{
    width: 65%;
}