<div class="banner3">
    <img src="../../../assets/images/healthcare3.jpg" style="width: 1470px; height: 500px;">
    </div>

    <div hello1>
        <h1 style="margin-left: 160px;font-size: 40px;margin-top: 25px; "> <b> Healthcare</b></h1>
        <h2 style="margin-left: 160px;font-size: 25px;font-family:Times New Roman,serif">Robust Healthcare consulting services and healthcare technology solutions for 
            enhanced quality,<br> transparency, and access</h2>
        <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 160px;">Some of the
             fastest growing and most active areas of 
            society right now are in the Healthcare space. Population growth, longer lifespans, increasing chronic conditions,<br>
             unstable economic forces, a war for talent, and the ever-increasing pressures of compliance continuously test the
              ingenuity of healthcare providers. The need accelerate <br>innovation and deepen patient-centricity has never been 
              
              more urgent. But today’s leaders also know they must balance this need with increasingly complex financial <br>
              and regulatory constraints.<br>

            <b>DEXTRIS</b> has worked with our customers across the payer, provider, healthcare product manufacturer, pharmacy, 
            and benefits manager landscape, among others to<br> provide a deep and broad set of business solutions ranging from 
            new 
            and exciting consulting strategies to bold technology solutions across the enterprise.<br> Our consultants and solution
             partners work seamlessly with our customers across the entire value chain to improve acquisition, increase margins,
              accelerate and improve <br>clinical decision-making, enable self-service capabilities, and step up to incredibly 
              complex regulatory compliance expectations such as HIPAA, GDPR, CCPA, and PIPEDA.</p>
              <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 160px;">Our services for payers and providers include 
                core capabilities to take on the challenges of today and the future, including:
              </p>
              <ul style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 160px;line-height: 1.6;">
                <li>Enhanced customer management, acquisition, retention, engagement, and communication</li>
            
                     <li>Acceleration and application of enterprise administrative platform transformation solutions</li>
                    <li>Enhanced consumer experience through highly personalized and self-service capabilities</li>
                    <li>More efficient and effective revenue-cycle management utilizing automation-driven approaches and
                        predictive analytics</li>
                    <li>Broader adoption of value-based and localized care models such as population health and hyper-personalized
                        care management</li>
                      </ul>
                      <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;
                      margin-left: 160px;line-height: 1.6;">Our healthcare professionals are working with our customers
                       every day to drive seamless adoption of new and evolving processes and solutions across
                        the healthcare industry. <br>Our Fosfor suite of products has been a driving force for clients 
                        deploying cognitive and ML capabilities to improve decision-making, allowing them to leverage 
                        data engineering, <br>cloud, AI, ML, process automation, predictive analytics, and collaboration tools, 
                        to make the world a healthier place for all of us.</p>
                        
    </div>
