<div class="banner4">
    <img src="../../../assets/images/ERP5.jpg" style="width: 1470px; height: 500px;">
    </div>

    <div class="hello3">
        <h1 style="margin-left: 150px;font-size: 40px;margin-top: -70px; "> <b> Enterprise Resource Planning</b></h1>
        <h2 style="margin-left: 150px;font-size: 25px;font-family:Times New Roman,serif;">Staying up to date with the latest 
            version of ERP ensures customers are able to take full advantage of the latest
             technology and newest features</h2>
           
             <ul style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 150px;line-height: 1.6;"><li>Stay on the Latest Technology: 
                Using modern technologies and mobile apps make accessing your ERP data easy.</li>
                <li>Remain Compliant:Deacom is constantly adapting and updating the software to conform to new standards
                     and regulations.</li>
                <li>Take Advantage of Newest Features: 
                    All of our customers get access to our newest features out of the box.</li></ul>
            <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 150px;"></p>
                 <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;margin-left: 150px;">Our customer 
                    support includes maintenance and upgrades to stay up to date with the latest features of ERP.
                     The <b>DEXTRIS</b> support team can provide assistance with your upgrade or expansion project, based on your
                      specific needs. <br>
                      We will work with your company to ensure a smooth transition to the latest version. We offer many 
                      levels of upgrade assistance based on each customer’s needs. Some companies have a full IT staff who
                       can handle the upgrade on their own, while others need our team to drive the upgrade process.
                    <br>Choice Brands Adhesives needed to upgrade in order to scale with their rapidly growing business.
                     With the help of our Support Team, they were able to get all of their many facilities upgraded without
                      interruptions.</p>
                     
    </div>
