<div class="banner7">

  <div class="content">
    <h2 style="margin-left: -280px; color: rgb(254, 253, 255);;margin-top: -120px;"> We make dreams career happen </h2>
    <h2 style="margin-left:-280px;color: rgb(246, 244, 248);"> We make great teams happen </h2>
    <h2 style="margin-left: -280px;color: rgb(255, 255, 255);">We make it happen</h2>

  </div>
</div>
<div class="desc1">
  <div class="section1">
    <h2 style="margin-left: 10px;">About DEXTRIS</h2>
    <p style="font-size:12.5pt;font-family:Times New Roman,serif;margin-left: 10px;">At<b> DEXTRIS</b> we aspire to be
      the go-to partner for businesses seeking to leverage technology to drive innovation,
      growth and competitive advantage. We believe that our success is measured by the success of our clients.
       We are dedicated to building long-lasting partnerships based on trust, transparency
      and a shared commitment to achieving business objectives.</p>

  </div>
  <div class="section2">
    <img src="../../../assets/images/pexels-matheus-bertelli-2467506.jpg" alt=""
      style="width: 445px; height: 275px; margin-top: 2%; margin-left: 18%;">
  </div>
</div>

<div class="desc2">
  <div class="section3">
    <img src="../../../assets/images/company.jpg" alt=""
      style="width: 425px; height: 275px; margin-top: 2%; margin-left: 5%;">
  </div>
  <div>
    <div class="section4">
      <h1>Why choose DEXTRIS ?</h1>
      <p>Using deep domain knowledge and technological expertise of our dedicated team,
         we create impactful digital solutions and services that drive meaningful change with a strategic vision.</p>
    </div>
  </div>
  </div>