<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3" style="margin-left: 15px;">
            <h1>ADDRESS</h1>
            <h2>DEXTRIS</h2>
            <p>
                16th, No. 75, 2nd Floor, 9th Cross, Main,<br>
                 Tavarekere Main Rd, BTM 1st Stage,<br>
                  Bengaluru, Karnataka 560027</p>
        </div>
        <!-- nav  -->
        <!--  -->
        <div class="col-lg-6 mt-3 mb-3" style="margin-right: -50px;">
            <h1>Contact Us</h1>
            <p>Phone: +91-80-4212-8000</p>
             <p style="margin-top: -10px;"> Email: hr@dextris.in</p> 
                
                
                
        </div>
        
        <!-- socialmedia -->
        <div class="socialmedia">
            <h1 style="margin-left: 30px;">Follow Us</h1>
            <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook" style="color: rgb(4, 105, 213);font-size: 26px;"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-twitter" style="color: rgb(101, 169, 243);font-size: 26px;"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram" style="color: palevioletred;font-size: 26px;"></i></a>
            

            
        </div>
    </div>
    <div class="mu-footer-bottom-area" >
        <h4 style="font-size: 10px;">Copyright &copy; 2016 DEXTRIS All Rights Reserved</h4>
      </div>
</div>