<div class="banner6">
    <div class="content">
        <h1 class="mb-5" style="margin-left: 600px; margin-top: -110px;;">DEXTRIS</h1>
        <h3 style="margin-left: 600px;margin-top: -20px;">Information Technology </h3>
        <h3 style="margin-left: 600px;">Services For Digital Industries </h3>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="mu-from-blog-content">
                <div class="row">
                    <div class="col-md-4">
                        <article class="mu-blog-item"><a href="/staff"><img alt="Staffing Solutions"
                                    src="assets/images/blog-img-1.jpg" style="width: 100%;"></a>

                            <div class="mu-blog-item-content">
                                <h2 class="mu-blog-item-title">Staff Augmentation</h2>

                                <p>We offer the best staff augmentation services in Bangalore which assists you in
                                    hiring experts for web & mobile app development, software testing and digital
                                    marketing services for your project.
                                </p>
                                <a class="mu-blg-readmore-btn" routerLink="/staff">Read more </a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4">
                        <article class="mu-blog-item"><a href="consulting"><img alt="blgo image"
                                    src="assets/images/blog-img-2.jpg" style="width: 100%;"></a>

                            <div class="mu-blog-item-content">
                                <h2 class="mu-blog-item-title">Consulting</h2>

                                <p>Accelerate transformation at the intersection of business, and experience
                                    We drive growth by solving complex business problems swiftly via a design-centric,
                                    agile, and platform-driven method.</p>
                                <a class="mu-blg-readmore-btn" routerLink="/consulting">Read more </a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4">
                        <article class="mu-blog-item"><a href="/software"><img alt="blgo image"
                                    src="assets/images/blog-img-3.jpg" style="width: 100%;"></a>

                            <div class="mu-blog-item-content">
                                <h2 class="mu-blog-item-title">Software Development</h2>

                                <p>We Design & Develop Custom Software Solutions that empower businesses to stay ahead
                                    of their competition. DEXTRIS partners with you from an idea to execution.</p>
                                <a class="mu-blg-readmore-btn" routerLink="/software">Read more </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="mu-title">
        <h2>Software Services</h2>

        <p> DEXTRIS succeeded in extending its horizons across the globe. Our array of
            service supports business agility by offering fast, customized, seamless and hassle-free solutions
        </p>
    </div>
</div>
<div class="hello">
    <p style="font-size:12.5pt;font-family:Times New Roman,serif">Welcome to <b>DEXTRIS</b> We are a leading provider of
        software development, consulting, and staff augmentation
        services. Our team of highly skilled professionals is dedicated to delivering top-notch solutions that
        help our
        clients achieve their business goals.</p>
    <p style="font-size:12.5pt;font-family:Times New Roman,serif">Whether you need custom software development,
        expert consulting services,
        or staff augmentation to expand your team, we have the expertise and experience to meet your needs.
        Our comprehensive suite of services is designed to help businesses of all sizes and industries improve their
        operations, streamline processes, and increase productivity.</p>
    <p style="font-size:12.5pt;font-family:Times New Roman,serif"> At our core, we believe that the success of our
        clients is our success.
        That's why we work closely with each client to understand their unique needs, goals, and challenges.
        By leveraging our industry expertise and cutting-edge technology, we create tailored solutions that drive
        tangible results and maximize ROI.</p>
    <p style="font-size:12.5pt;font-family:Times New Roman,serif">We pride ourselves on our commitment to
        excellence, innovation, and customer satisfaction. With our unwavering dedication to quality and
        customer service, we have built a reputation as a trusted partner for businesses around the world.</p>
    <p style="font-size:12.5pt;font-family:Times New Roman,serif">Thank you for considering our services.
        We look forward to the opportunity to work with you and help you achieve your business objectives.</p>
</div>