.consultingDiv{
    padding:2% 10% 1% 10%;
}
.consultingp{
    line-height: 1.8;
}
.industries{
    padding-left: 10%;
    color: #622d2d;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;   
}

.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: -150px;
}
.mu-from-blog-area {
    display: inline;
    float: left;
    width: 100%;
}

.mu-from-blog-content {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.col-md-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.mu-blog-item {
    box-shadow: 0px 0px 14px #ededed;
    display: inline;
    float: left;
    width: 100%;
}
.img{
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
.mu-blog-item-content {
    display: inline;
    float: left;
    padding: 25px 25px;
    width: 100%;
}
.mu-blog-item-title, .mu-blog-item-title a {
    color: #323232;
    font-size: 16px;
    line-height: 1.5;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.mu-blog-item[_ngcontent-ast-c1] {
    box-shadow: 0px 0px 14px #ededed;
    display: inline;
    float: left;
    width: 100%;
}
.consultingDiv{
    padding-top: 2%;
   padding-left: -5%;
   padding-right: 10%;
   line-height: 1.6;
}











