<div id="joinuscontent">
    <div class="elementor-text-editor elementor-clearfix">
        <p>Our management philosophy places value on the input of each employee and rewards both individual and group
            contribution.&nbsp; Together we take pride in serving our client's best interests.&nbsp; If this sounds
            interesting, we seek individuals with a strong and reliable work ethic who look forward to being part of a
            rapidly growing company.&nbsp;&nbsp;</p>
    </div>
</div>
    <div class="elementor-text">
  
        <p style="text-align:justify"><b><u><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;TITLE</span></u></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">:</span></b><span
                style="font-size:12.5pt;font-family:Times New Roman,serif"> </span><b>
                    <span style="font-size:12.5pt;font-family: Times New Roman,serif;"> JAVA &nbsp;Fullstack </span></b></p>
       
        <p style="text-align:justify"><b><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;LOCATION</span></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">: Pan India</span></b>
        </p>
        <p style="text-align:justify"><b><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">Key &nbsp;Responsibilities</span></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b><span
                style="font-size:12.5pt;font-family:Times New Roman,serif;"><ul>
                    <li>You will be working with a large, highly skilled team on a critical project.</li>
                    <li>You will need to be Hands-on Developer who is highly skilled on Java & Spring.</li>
                    <li>You will be expected to contribute to design and implementation decisions, take feedback constructively and work towards the common goals of ensuring stability of Production platforms.</li>
                    <li>You will be responsible for writing Functional and Technical Designs following Dell Templates.</li>
                    <li>You will lead team of Developers.</li>
                    <li>You must be able to communicate effectively with team members: both core and extended members.</li>
                </ul></span></p>
        <p style="text-align:justify"><b><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">Essential &nbsp;Requirements</span></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b><span
                style="font-size:12.5pt;font-family:Times New Roman,serif;"><ul>
                    <li>Should have sound knowledge of Java, J2EE architecture and Enterprise Integration patterns.</li>
                    <li>Sound knowledge of Messaging System Architecture and Event driven architecture.</li>
                    <li>Expertise in XML, JSON, Spring Core, Spring Web Services, Spring batch, Spring integration.</li>
                    <li>Expertise in Rest and SOAP webservices implementation.</li>
                    <li>Should have knowledge of Git and CI/CD.</li>
                    <li>Practicing TDD using Junit, Mockito, Easy Mock or equivalent frameworks.</li>
                    <li>Database Experience and Hibernate (ORM), or MyBatis.</li>
                    <li>Good understanding of Data Structure and Algorithms.</li>
                </ul></span>
        </p>
        <p style="text-align:justify"><b><span style="font-size:12.5pt">TO APPLY</span></b><b><span
            style="font-size:12.5pt">: </span></b><span
            style="font-size:12.5pt;"></span><span style="font-size:12.5pt">Please send
            resume and cover letter referencing
            to: </span><a href="mailto:hr@dextris.in"><span
            style="font-size:12.5pt">hr@dextris.in</span></a></p>
      
        <p style="text-align:justify"><b style="letter-spacing: 0em;"><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;</span></b><b
                style="letter-spacing: 0em;"><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">TITLE</span></b><b
                style="letter-spacing: 0em;"><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">:</span></b><span
                style="letter-spacing: 0em; font-size: 12.5pt; font-family: Times New Roman, serif;">
            </span><b style="letter-spacing: 0em;"><span
                    style="font-size:12.5pt;font-family: Times New Roman,serif;">.Netcore with WEBAPI Developert</span></b></p>
    
        <p style="text-align:justify"><b><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;LOCATION</span></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">: Pan India</span></b>
        </p>
        <p style="text-align:justify"><b><span
                        style="font-size:12.5pt;font-family:Times New Roman,serif">Mandatory &nbsp;skills</span></b><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b><span
                style="font-size:12.5pt;font-family:Times New Roman,serif;"><ul>
                    <li>Strong in .Net core framework concepts + consuming, implementing,testing WEB API</li>
                    <li>Should be good in MVC concepts</li>
                    <li>Should be good in writing Testcase using Microsoft Test framework , Creating Test data</li>
                    <li>Good in OOPS concepts in C#.</li>
                    <li>Should be good in Database concepts(SQL server).</li>
                 
                </ul></span></p>
                
    
        <p style="text-align: justify;">
        </p>
        <p style="text-align:justify"><b><span style="font-size:12.5pt">TO APPLY</span></b><b><span
            style="font-size:12.5pt">: </span></b><span
            style="font-size:12.5pt;"></span><span style="font-size:12.5pt">Please send
            resume and cover letter referencing
            to: </span><a href="mailto:hr@dextris.in"><span
            style="font-size:12.5pt">hr@dextris.in</span></a></p>

                 <p style="text-align:justify"><b style="letter-spacing: 0em;"><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;</span></b><b
            style="letter-spacing: 0em;"><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">TITLE</span></b><b
            style="letter-spacing: 0em;"><span
                style="font-size:12.5pt;font-family:Times New Roman,serif">:</span></b><span
            style="letter-spacing: 0em; font-size: 12.5pt; font-family: Times New Roman, serif;">
        </span><b style="letter-spacing: 0em;"><span
                style="font-size:12.5pt;font-family: Times New Roman,serif;">.Net Full Stack Developer</span></b></p>

    <p style="text-align:justify"><b><span
                    style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;LOCATION</span></b><b><span
                style="font-size:12.5pt;font-family:Times New Roman,serif">: Pan India</span></b>
    </p>
    <p style="text-align:justify"><b><span
        style="font-size:12.5pt;font-family:Times New Roman,serif">Mandatory &nbsp;skills</span></b><b><span
    style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b>
    <span
style="font-size:12.5pt;font-family:Times New Roman,serif;"><ul>
    <li>Strong in .Net core framework concepts + consuming, implementing,testing WEB API</li>
    <li>Should be good in MVC concepts</li>
    <li>Should be good in writing Testcase using Microsoft Test framework , Creating Test data</li>
    <li>Good in OOPS concepts in C#.</li>
    <li>Should be good in Database concepts(SQL server).</li>
 
</ul></span></p>
<p style="text-align:justify"><b><span
    style="font-size:12.5pt;font-family:Times New Roman,serif">Required &nbsp;skills</span></b><b><span
style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b>
<span
style="font-size:12.5pt;font-family:Times New Roman,serif;">
<p>The core skills should be Angular,.Net Core, C#, Web API, Entity Framework Core and SQL . 
    Should come with good practical knowledge and good logical abilities along with a strong grounding on the OOPS principles and the Design patterns.
     
    </p>
</span></p>
<p style="text-align:justify"><b><span style="font-size:12.5pt">TO APPLY</span></b><b><span
    style="font-size:12.5pt">: </span></b><span
    style="font-size:12.5pt;"></span><span style="font-size:12.5pt">Please send
    resume and cover letter referencing
    to: </span><a href="mailto:hr@dextris.in"><span
    style="font-size:12.5pt">hr@dextris.in</span></a></p>








         
         <p style="text-align:justify"><b style="letter-spacing: 0em;"><span
            style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;</span></b><b
    style="letter-spacing: 0em;"><span
            style="font-size:12.5pt;font-family:Times New Roman,serif">TITLE</span></b><b
    style="letter-spacing: 0em;"><span
        style="font-size:12.5pt;font-family:Times New Roman,serif">:</span></b><span
    style="letter-spacing: 0em; font-size: 12.5pt; font-family: Times New Roman, serif;">
</span><b style="letter-spacing: 0em;"><span
        style="font-size:12.5pt;font-family: Times New Roman,serif;"> Python Developer</span></b></p>

<p style="text-align:justify"><b><span
            style="font-size:12.5pt;font-family:Times New Roman,serif">JOB&nbsp;LOCATION</span></b><b><span
        style="font-size:12.5pt;font-family:Times New Roman,serif">: Pan India</span></b>
</p>
<p style="text-align:justify"><b><span
    style="font-size:12.5pt;font-family:Times New Roman,serif">Required &nbsp;skills</span></b><b><span
style="font-size:12.5pt;font-family:Times New Roman,serif">: </span></b>
<span
style="font-size:12.5pt;font-family:Times New Roman,serif;">
<p>Core Python Programmer/Developer with with automation exposure
     
    </p>
</span></p>
<p style="text-align:justify"><b><span style="font-size:12.5pt">TO APPLY</span></b><b><span
    style="font-size:12.5pt">: </span></b><span
    style="font-size:12.5pt;"></span><span style="font-size:12.5pt">Please send
    resume and cover letter referencing
    to: </span><a href="mailto:hr@dextris.in"><span
    style="font-size:12.5pt">hr@dextris.in</span></a></p>

    </div>
